body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* BARRE DE NAVIGATION */
.navbarvolet {
  background-color: #C5221F;
}
.navbarvolet a {
  color: #FFF;
}
#color {
  color: black;
}

/* BREADCRUMBS */
.breadvolet {
  height: 32px;
  padding-left: 42px;
  font-size: 1.2rem;
  font-weight: bold;
}
.breadvolet a {
  color: #911A1A;
}

/* CARD ENTREPRISE */
.bodysection {
  max-width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardform {
  max-width: 50rem;
  margin: 4rem auto;
  animation: meals-appear 1s ease-out forwards;
}


.cardsmoise{
  display: flex;
}
.cardsgauche {
  width: 50%;
  justify-content: flex-start;
}
.cardsdroite {
  width: 50%;
  justify-content: space-around;
}

.coordone1 {
  display: flex;
}
.rue {
  width: 75%;
}
.n {
  width: auto;
}

.coordone2 {
  display: flex;
  margin-bottom: 10px;
}
.code-postal {
  width: 40%;
}
.ville {
  width: auto;
}

.telephone {
  width: auto;
}
.e-mail {
  width: auto;
}
.activite {
  width: auto;
}

/* ANNONCES */
.flexbouton {
  display: flex;
}

.buttonmargin {
  margin: 0px 5px;
}

.listradios {
  display: flex;
}

.form-check {
  margin: 0px 5px;
}

.logoheh {
  max-width: 30%;
}

.textaccueil {
  font-size: 22px;
  max-width: 60%;
}

.close {
  display: flex;
  justify-content: space-between;
}